/* line 15, ../sass/_grid.scss */
body {
  min-width: 960px;
}

/* line 18, ../sass/_grid.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 24, ../sass/_grid.scss */
.grid, .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
  display: inline;
  float: left;
  margin-left: 9px;
  margin-right: 10px -1;
}

/* line 31, ../sass/_grid.scss */
.relative, .container_12 .push_1, .container_12 .pull_1, .container_12 .push_2, .container_12 .pull_2, .container_12 .push_3, .container_12 .pull_3, .container_12 .push_4, .container_12 .pull_4, .container_12 .push_5, .container_12 .pull_5, .container_12 .push_6, .container_12 .pull_6, .container_12 .push_7, .container_12 .pull_7, .container_12 .push_8, .container_12 .pull_8, .container_12 .push_9, .container_12 .pull_9, .container_12 .push_10, .container_12 .pull_10, .container_12 .push_11, .container_12 .pull_11, .container_12 .push_12, .container_12 .pull_12, .container_16 .push_1, .container_16 .pull_1, .container_16 .push_2, .container_16 .pull_2, .container_16 .push_3, .container_16 .pull_3, .container_16 .push_4, .container_16 .pull_4, .container_16 .push_5, .container_16 .pull_5, .container_16 .push_6, .container_16 .pull_6, .container_16 .push_7, .container_16 .pull_7, .container_16 .push_8, .container_16 .pull_8, .container_16 .push_9, .container_16 .pull_9, .container_16 .push_10, .container_16 .pull_10, .container_16 .push_11, .container_16 .pull_11, .container_16 .push_12, .container_16 .pull_12, .container_16 .push_13, .container_16 .pull_13, .container_16 .push_14, .container_16 .pull_14, .container_16 .push_15, .container_16 .pull_15, .container_16 .push_16, .container_16 .pull_16 {
  position: relative;
}

/* line 59, ../sass/_grid.scss */
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_1 {
  width: 60px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_1 {
  padding-left: 80px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_1 {
  padding-left: 80px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_1 {
  left: 80px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_1 {
  left: -80px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_2 {
  width: 140px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_2 {
  padding-left: 160px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_2 {
  padding-left: 160px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_2 {
  left: 160px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_2 {
  left: -160px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_3 {
  width: 220px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_3 {
  padding-left: 240px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_3 {
  padding-left: 240px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_3 {
  left: 240px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_3 {
  left: -240px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_4 {
  width: 300px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_4 {
  padding-left: 320px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_4 {
  padding-left: 320px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_4 {
  left: 320px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_4 {
  left: -320px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_5 {
  width: 380px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_5 {
  padding-left: 400px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_5 {
  padding-left: 400px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_5 {
  left: 400px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_5 {
  left: -400px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_6 {
  width: 460px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_6 {
  padding-left: 480px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_6 {
  padding-left: 480px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_6 {
  left: 480px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_6 {
  left: -480px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_7 {
  width: 540px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_7 {
  padding-left: 560px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_7 {
  padding-left: 560px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_7 {
  left: 560px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_7 {
  left: -560px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_8 {
  width: 620px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_8 {
  padding-left: 640px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_8 {
  padding-left: 640px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_8 {
  left: 640px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_8 {
  left: -640px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_9 {
  width: 700px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_9 {
  padding-left: 720px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_9 {
  padding-left: 720px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_9 {
  left: 720px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_9 {
  left: -720px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_10 {
  width: 780px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_10 {
  padding-left: 800px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_10 {
  padding-left: 800px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_10 {
  left: 800px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_10 {
  left: -800px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_11 {
  width: 860px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_11 {
  padding-left: 880px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_11 {
  padding-left: 880px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_11 {
  left: 880px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_11 {
  left: -880px;
}

/* line 67, ../sass/_grid.scss */
.container_12 .grid_12 {
  width: 940px;
}

/* line 74, ../sass/_grid.scss */
.container_12 .prefix_12 {
  padding-left: 960px;
}

/* line 81, ../sass/_grid.scss */
.container_12 .suffix_12 {
  padding-left: 960px;
}

/* line 89, ../sass/_grid.scss */
.container_12 .push_12 {
  left: 960px;
}

/* line 98, ../sass/_grid.scss */
.container_12 .pull_12 {
  left: -960px;
}

/* line 15, ../sass/_grid.scss */
body {
  min-width: 960px;
}

/* line 18, ../sass/_grid.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 24, ../sass/_grid.scss */
.grid, .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
  display: inline;
  float: left;
  margin-left: 9px;
  margin-right: 10px -1;
}

/* line 31, ../sass/_grid.scss */
.relative, .container_12 .push_1, .container_12 .pull_1, .container_12 .push_2, .container_12 .pull_2, .container_12 .push_3, .container_12 .pull_3, .container_12 .push_4, .container_12 .pull_4, .container_12 .push_5, .container_12 .pull_5, .container_12 .push_6, .container_12 .pull_6, .container_12 .push_7, .container_12 .pull_7, .container_12 .push_8, .container_12 .pull_8, .container_12 .push_9, .container_12 .pull_9, .container_12 .push_10, .container_12 .pull_10, .container_12 .push_11, .container_12 .pull_11, .container_12 .push_12, .container_12 .pull_12, .container_16 .push_1, .container_16 .pull_1, .container_16 .push_2, .container_16 .pull_2, .container_16 .push_3, .container_16 .pull_3, .container_16 .push_4, .container_16 .pull_4, .container_16 .push_5, .container_16 .pull_5, .container_16 .push_6, .container_16 .pull_6, .container_16 .push_7, .container_16 .pull_7, .container_16 .push_8, .container_16 .pull_8, .container_16 .push_9, .container_16 .pull_9, .container_16 .push_10, .container_16 .pull_10, .container_16 .push_11, .container_16 .pull_11, .container_16 .push_12, .container_16 .pull_12, .container_16 .push_13, .container_16 .pull_13, .container_16 .push_14, .container_16 .pull_14, .container_16 .push_15, .container_16 .pull_15, .container_16 .push_16, .container_16 .pull_16 {
  position: relative;
}

/* line 59, ../sass/_grid.scss */
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_1 {
  width: 40px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_1 {
  padding-left: 60px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_1 {
  padding-left: 60px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_1 {
  left: 60px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_1 {
  left: -60px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_2 {
  width: 100px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_2 {
  padding-left: 120px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_2 {
  padding-left: 120px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_2 {
  left: 120px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_2 {
  left: -120px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_3 {
  width: 160px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_3 {
  padding-left: 180px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_3 {
  padding-left: 180px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_3 {
  left: 180px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_3 {
  left: -180px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_4 {
  width: 220px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_4 {
  padding-left: 240px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_4 {
  padding-left: 240px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_4 {
  left: 240px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_4 {
  left: -240px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_5 {
  width: 280px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_5 {
  padding-left: 300px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_5 {
  padding-left: 300px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_5 {
  left: 300px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_5 {
  left: -300px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_6 {
  width: 340px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_6 {
  padding-left: 360px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_6 {
  padding-left: 360px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_6 {
  left: 360px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_6 {
  left: -360px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_7 {
  width: 400px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_7 {
  padding-left: 420px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_7 {
  padding-left: 420px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_7 {
  left: 420px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_7 {
  left: -420px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_8 {
  width: 460px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_8 {
  padding-left: 480px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_8 {
  padding-left: 480px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_8 {
  left: 480px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_8 {
  left: -480px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_9 {
  width: 520px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_9 {
  padding-left: 540px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_9 {
  padding-left: 540px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_9 {
  left: 540px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_9 {
  left: -540px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_10 {
  width: 580px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_10 {
  padding-left: 600px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_10 {
  padding-left: 600px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_10 {
  left: 600px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_10 {
  left: -600px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_11 {
  width: 640px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_11 {
  padding-left: 660px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_11 {
  padding-left: 660px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_11 {
  left: 660px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_11 {
  left: -660px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_12 {
  width: 700px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_12 {
  padding-left: 720px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_12 {
  padding-left: 720px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_12 {
  left: 720px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_12 {
  left: -720px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_13 {
  width: 760px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_13 {
  padding-left: 780px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_13 {
  padding-left: 780px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_13 {
  left: 780px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_13 {
  left: -780px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_14 {
  width: 820px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_14 {
  padding-left: 840px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_14 {
  padding-left: 840px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_14 {
  left: 840px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_14 {
  left: -840px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_15 {
  width: 880px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_15 {
  padding-left: 900px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_15 {
  padding-left: 900px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_15 {
  left: 900px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_15 {
  left: -900px;
}

/* line 67, ../sass/_grid.scss */
.container_16 .grid_16 {
  width: 940px;
}

/* line 74, ../sass/_grid.scss */
.container_16 .prefix_16 {
  padding-left: 960px;
}

/* line 81, ../sass/_grid.scss */
.container_16 .suffix_16 {
  padding-left: 960px;
}

/* line 89, ../sass/_grid.scss */
.container_16 .push_16 {
  left: 960px;
}

/* line 98, ../sass/_grid.scss */
.container_16 .pull_16 {
  left: -960px;
}

/* line 6, ../sass/style.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 15, ../sass/style.scss */
.container_12 {
  border: 1px solid black;
}

/* line 19, ../sass/style.scss */
.container_16 {
  border: 1px solid black;
}

/* line 23, ../sass/style.scss */
.box {
  border: 1px solid black;
}
