
//*
//* Basic 
//*
@mixin grid_base(
		$columns : 12 , 
		$width: 960px , 
		$gutter: 20px , 
		$prefix: true , 
		$suffix: true , 
		$push: true , 
		$pull: true){
	$column_width: $width / $columns ;

	body {
		min-width: $width ; 
	}
	.container {
		margin-left: auto ;
		margin-right: auto ; 
		width : $width ; 
	}

	.grid {
		display: inline ; 
		float: left ; 
		margin-left: ($gutter/2-1); 
		margin-right: ($gutter/2 -1); 
	}

	.relative {
		position: relative ; 
	}

	@include generate_grid($columns , 
		$width , 
		$gutter , 
		$prefix , 
		$suffix , 
		$push , 
		$pull); 
}
//*
//* Loops 
//*

@mixin generate_grid(
		$columns : 12 , 
		$width: 960px , 
		$gutter: 20px , 
		$prefix: true , 
		$suffix: true , 
		$push: true , 
		$pull: true
	){
	$column_width: $width / $columns ;
	$container_name: container_#{$columns}; 

	.#{$container_name} {
		margin-left: auto ;
		margin-right: auto ; 
		width: $width ; 
	}
	@for $i from 1 through $columns {
		.grid_#{$i} {
			@extend .grid ;			
			.#{$container_name} & {
				width: $i*$column_width - $gutter ; 
			}
		}

		@if $prefix == true {
			.#{$container_name} {	
				.prefix_#{$i} {
					padding-left: $i*$column_width ; 
				}
			}
		}
		@if $suffix == true {
			.#{$container_name} {	
				.suffix_#{$i} {
					padding-left: $i*$column_width ; 
				}
			}
		}

		@if $push == true {
			.#{$container_name} {
				.push_#{$i} {
					@extend .relative ;
					left: $i*$column_width ; 
				}
			}
		}
		
		@if $pull == true {	
			.#{$container_name} {
				.pull_#{$i} {
					@extend .relative ; 
					left: -$i*$column_width ; 
				}
			}
		}	
	}
}