@import "grid.scss" ; 

@include grid_base ; 
@include grid_base(16) ; 

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.container_12 {
	border: 1px solid black ; 
}

.container_16 {
	border: 1px solid black ; 
}

.box{
	border: 1px solid black ; 
}